@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e7e6dd;
  font-family: "Press Start 2P", sans-serif;
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 15vh;

  border-radius: 10px;
  animation: expandContract 3s ease-in-out infinite;
}

.score {
  display: flex;
  justify-content: end;
  margin: 20px;
  font-size: 25px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 15vh;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-button {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  color: white;
  font-size: large;
  background-color: black;
  cursor: pointer;
  margin-left: 40px;
}

.restartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart-button {
  height: 50px;
  width: 200px;
  background-color: #8b0000;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-family: "Press Start 2P", sans-serif;
  cursor: pointer;
}

.speaker {
  position: absolute;
  top: 10px;
  left: 10px;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 999;
}

.icon {
  font-size: 65px;
  margin: 15px;
}

button i {
  font-size: 88px;
}

.rotate-up {
  transform: rotate(90deg);
}

.white-background {
  background-color: white;
}

.my-button:hover {
  background-color: #8b0000;
  animation: expandContract 3s ease-in-out infinite;
}

.floating-title {
  text-align: center;
  border-radius: 10px;
  width: 200px;
  animation: expandContract 3s ease-in-out infinite;
}

@keyframes expandContract {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
